<head>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
<p>
<mat-toolbar color="primary">
  <span>{{mainTitle}}</span>
</mat-toolbar>
</p>
<p>
  <mat-list>
    <mat-list-item>Your Info</mat-list-item>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. 'Pizza'">
      </mat-form-field></form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mealprep Plan Title</mat-label>
          <input matInput placeholder="Ex. 'This week', 'Vegan week'">
        </mat-form-field></form>
    <mat-divider></mat-divider>
    <mat-list-item>Preferences</mat-list-item>
    <p>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="">Vegan</mat-button-toggle>
      <mat-button-toggle value="">Vegetarian</mat-button-toggle>
      <mat-button-toggle value="">Plant Based</mat-button-toggle>
      <mat-button-toggle value="">None</mat-button-toggle>  
    </mat-button-toggle-group>
    </p>
    <section class="example-section">
      <h4>Meals to be Prepped:</h4>
      <p><mat-checkbox formControlName="breakfast">Breakfast</mat-checkbox></p>
      <p><mat-checkbox formControlName="lunch">Lunch</mat-checkbox></p>
      <p><mat-checkbox formControlName="dinner">Dinner</mat-checkbox></p>
      <p><mat-checkbox formControlName="snacks">Snacks</mat-checkbox></p>
    </section>
    <mat-divider></mat-divider>
    <mat-list-item>Time Frame</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</p>
<p>
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
</p>
<p>
  <button mat-raised-button color="accent">Submit</button>
</p>
</body>

<router-outlet></router-outlet>
